<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/ordem-servico']">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Imprimir</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeXl="6">
        <app-order-print></app-order-print>
      </ion-col>
      <ion-col size="12" sizeXl="6">
        <app-barcode-print></app-barcode-print>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
