@if (returnClientIdMode) {
  <ion-toolbar>
    <ion-title>Selecione um usuario</ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
}

@let usersReceived = users | async;
@let loading = isLoading$ | async;

<ion-card>
  <ion-card-header>
    <ion-card-title>Lista de usuários</ion-card-title>
    <ion-card-subtitle>
      Aqui você pode ver todos os usuários cadastrados, sua equipe, seus
      clientes e etc.
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    @if (returnClientIdMode) {
      <ion-searchbar
        class="ion-no-padding ion-padding-bottom"
        placeholder="Pesquisar o nome do usuário"
        (ionChange)="searchUser($event)"
        debounce="1000"
      />
    }

    <ion-list>
      @if (loading && (!usersReceived || usersReceived.length === 0)) {
        <ion-item>
          <ion-label>
            <ion-spinner></ion-spinner>
          </ion-label>
        </ion-item>
      } @else {
        @for (user of usersReceived; track user.id) {
          <ion-item
            button="true"
            detail="true"
            (click)="returnClientIdMode ? returnClient(user) : openModal(user)"
          >
            <ion-label>
              <h3 class="ion-text-bold">{{ user.type.name }}</h3>
              <h3>{{ user.name }}</h3>
              <p>{{ user.phone | formatPhone }}</p>
            </ion-label>
          </ion-item>
        } @empty {
          <ion-item>
            <ion-label>
              <h3>Nenhum usuário encontrado</h3>
            </ion-label>
          </ion-item>
        }
        @if (infiniteScroll()) {
          <ion-item lines="none">
            <ion-infinite-scroll
              (ionInfinite)="onIonInfinite($event)"
              loadingText="Carregando..."
              loadingSpinner="bubbles"
            >
              <ion-infinite-scroll-content />
            </ion-infinite-scroll>
          </ion-item>
        }
      }
    </ion-list>
  </ion-card-content>
</ion-card>
