<ion-toolbar *ngIf="returnClientIdMode">
  <ion-title>Selecione um usuario</ion-title>
  <ion-buttons slot="start">
    <ion-button (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content color="light">
  <ion-card *ngIf="users | async as users">
    <ion-card-header>
      <ion-card-title>Usuários cadastrados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="users.length > 0">
        <ion-item
          button="true"
          detail="true"
          *ngFor="let user of users"
          (click)="returnClientIdMode ? returnClient(user) : openModal(user)"
        >
          <ion-label>
            <h3>{{ user.name }}</h3>
            <p>{{ user.phone | formatPhone }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <p *ngIf="users.length == 0">Nenhum usuário encontrado</p>
    </ion-card-content>
  </ion-card>
</ion-content>
