<ion-header>
  <ion-toolbar>
    @if (!equipment) {
      <ion-title>Adicionar Equipamento</ion-title>
    } @else {
      <ion-title>Editar Equipamento</ion-title>
    }

    <ion-buttons slot="start">
      <ion-button shape="round" (click)="closeModal()" data-cy="close-modal">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content data-cy="equipment-modal">
  @let isLoading = isLoading$ | async;
  <ion-card>
    <ion-card-content>
      <form
        [formGroup]="formEquipment"
        (ngSubmit)="this.equipment ? update() : submit()"
      >
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-input
                fill="outline"
                type="text"
                formControlName="user_name"
                label="Nome do cliente"
                labelPlacement="floating"
                (click)="searchClient()"
                required
              ></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input
                fill="outline"
                type="text"
                formControlName="name"
                label="Nome do equipamento"
                labelPlacement="floating"
                required
              ></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              @if (categories | async; as categories) {
                <ion-select
                  label="Categoria"
                  formControlName="category_id"
                  labelPlacement="floating"
                  okText="Confirmar"
                  cancelText="Cancelar"
                  fill="outline"
                  required
                >
                  @for (category of categories; track category.id) {
                    <ion-select-option [value]="category.id">{{
                      category.name
                    }}</ion-select-option>
                  }
                </ion-select>
              }
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-textarea
                label="Descrição"
                labelPlacement="floating"
                formControlName="description"
                rows="5"
                fill="outline"
              ></ion-textarea>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-textarea
                fill="outline"
                label="Observação"
                labelPlacement="floating"
                formControlName="obs"
                rows="5"
              ></ion-textarea>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button
                type="submit"
                expand="block"
                [disabled]="formEquipment.invalid || isLoading"
                >{{ equipment ? "Atualizar" : "Cadastrar" }}</ion-button
              >
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
  @if (equipment) {
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button color="danger" (click)="confirmDelete()">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  }
</ion-content>
