<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Salas de conversa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-room-list></app-room-list>
  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="end"
    tourAnchor="chat.add-button"
  >
    <ion-fab-button color="tertiary" (click)="openModalAddRoom()">
      <ion-icon name="add-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
