<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <app-room-list></app-room-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-fab
  slot="fixed"
  vertical="bottom"
  horizontal="end"
  tourAnchor="chat.add-button"
>
  <ion-fab-button (click)="openModalAddRoom()">
    <ion-icon name="add-sharp"></ion-icon>
  </ion-fab-button>
</ion-fab>
