.git
.github
.vscode
.idea

**/node_modules
**/vendor
**/.angular
**/dist
**/www

**/cypress/videos
**/cypress/screenshots

sos_api/public/storage

**/storage/logs
**/storage/framework

**/bootstrap/cache/*.php

**/.env
**/.env.*
!**/.env.example

**/*.log
**/.DS_Store
**/Thumbs.db
**/composer.phar

**/.cache
**/.npm
**/.eslintcache
**/.stylelintcache

*.tmp
*.temp
*.swp
*~
