.git
.github
.vscode
.idea

**/node_modules
**/vendor

sos_api/public/storage

**/.angular

**/storage/logs
**/storage/framework

**/cypress/videos
**/cypress/screenshots

**/.env
**/.env.*

**/*.log

**/.DS_Store
**/Thumbs.db

**/composer.phar

bootstrap/cache/*.php