# Composer
composer.phar

# Laravel
sos_api/vendor/
sos_api/storage/logs/*
sos_api/storage/framework/cache/*
sos_api/storage/framework/sessions/*
sos_api/storage/framework/views/*
sos_api/storage/framework/testing/*
sos_api/bootstrap/cache/*.php

# Ambiente
sos_api/.env

# Node
sos_app/node_modules/

# Build Angular/Ionic
sos_app/www/
sos_app/.angular/

# Cypress
sos_app/cypress/screenshots/
sos_app/cypress/videos/
sos_app/cypress/downloads/

# IDEs
.vscode/
.idea/

# Sistema Operacional
.DS_Store
Thumbs.db

mariadb.env
production.env


