<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
    <ion-buttons slot="end">
      <ion-button
        fill="outline"
        color="secondary"
        type="button"
        (click)="logout()"
      >
        <ion-icon name="exit"></ion-icon>
        Sair
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" sizeXl="6">
        <app-welcome></app-welcome>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
