<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/materiais" (click)="fechaModal()"></ion-back-button>
    </ion-buttons>
    <ion-title>Atualizar Material</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-icon *ngIf="!caminho_imagem" style="font-size: 4.5rem" name="images-outline"></ion-icon>
        <ion-img *ngIf="caminho_imagem" src="{{caminho_imagem}}" alt="Imagem produto"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-item>
          <form enctype="multipart/form-data">
            <ion-input type="file" accept="image/*" (change)="uploadImagem($event)"></ion-input>
          </form>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <form [formGroup]="formAtualizaMaterial" (ngSubmit)="atualizaMaterial()">
          <!-- NOME -->
          <ion-item>
            <ion-label position="stacked">Nome</ion-label>
            <ion-input type="text" formControlName="nome" required></ion-input>
          </ion-item>
          <ion-item lines="none"
            *ngIf="formControls.nome.invalid && (formControls.nome.dirty || formControls.nome.touched)">
            <div>
              <div *ngIf="formControls.nome.errors?.['required']">
                <ion-text>
                  <p>
                    <ion-icon name="alert-circle"></ion-icon>
                    É necessário um nome
                  </p>
                </ion-text>
              </div>
              <div *ngIf="formControls.nome.errors?.['minlength']">
                <ion-text>
                  <p>
                    <ion-icon name="alert-circle"></ion-icon>
                    Insira, no mínimo, 2 caracteres...
                  </p>
                </ion-text>
              </div>
            </div>
          </ion-item>
          <!-- FIM INPUT NOME -->
          <!-- CATEGORIA -->
          <ion-item *ngIf="categoriasRecebidas && categoriasRecebidas.length != 0">
            <ion-label position="stacked">Categoria</ion-label>
            <ion-select formControlName="id_categoria">
              <ion-select-option  *ngFor="let categoria of categoriasRecebidas" value="{{categoria.id}}">{{categoria.categoria}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none"
            *ngIf="formControls.id_categoria.invalid && (formControls.id_categoria.dirty || formControls.id_categoria.touched)">
            <div>
              <div *ngIf="formControls.id_categoria.errors?.['required']">
                <ion-text>
                  <p>
                    <ion-icon name="alert-circle"></ion-icon>
                    É necessário uma categoria
                  </p>
                </ion-text>
              </div>
            </div>
          </ion-item>
          <!-- FIM INPUT CATEGORIA -->
          <!-- DESCRICAO -->
          <ion-item>
            <ion-label position="stacked">Descrição</ion-label>
            <ion-textarea placeholder="Insira os dados do material aqui..." formControlName="descricao" rows="5">
            </ion-textarea>
          </ion-item>
          <!-- FIM INPUT DESCRICAO -->
          <!-- VALOR -->
          <ion-item>
            <ion-label position="stacked">Valor</ion-label>
            <ion-input type="number" formControlName="valor" required></ion-input>
          </ion-item>
          <ion-item lines="none"
            *ngIf="formControls.valor.invalid && (formControls.valor.dirty || formControls.valor.touched)">
            <div class="alert">
              <div *ngIf="formControls.valor.errors?.['required']">
                <ion-text>
                  <p>
                    <ion-icon name="alert-circle"></ion-icon>
                    É necessário inserir um valor
                  </p>
                </ion-text>
              </div>
            </div>
          </ion-item>
          <!-- FIM INPUT VALOR -->
          <ion-button [disabled]="!formAtualizaMaterial.valid" type="submit" expand="block">
            Atualizar
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="material.atualizado_em != '0000-00-00 00:00:00'" class="ion-text-center">
      <ion-col>
        Última atualização: {{material.atualizado_em | date: 'd/MM/yy'}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>