<ion-header>
  <ion-toolbar>
    @if (!category) {
      <ion-title>Adicionar Categoria</ion-title>
    }
    @if (category) {
      <ion-title>Editar Categoria</ion-title>
    }
    <ion-buttons slot="start">
      <ion-button shape="round" (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content data-cy="add-category-modal">
  <ion-card>
    <ion-card-content>
      <form
        [formGroup]="categoryForm"
        (ngSubmit)="this.category ? update() : submit()"
      >
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-input
                fill="outline"
                formControlName="name"
                label="Nome"
                labelPlacement="floating"
                required
              ></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              @if (!category) {
                <ion-button
                  type="submit"
                  expand="block"
                  [disabled]="this.categoryForm.invalid || (isLoading$ | async)"
                  >Cadastrar</ion-button
                >
              }
              @if (category) {
                <ion-button
                  type="submit"
                  expand="block"
                  [disabled]="this.categoryForm.invalid || (isLoading$ | async)"
                  >Atualizar</ion-button
                >
              }
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
  @if (category) {
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button color="danger" (click)="confirmDeleteCategory()">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  }
</ion-content>
