<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!category">Adicionar Categoria</ion-title>
    <ion-title *ngIf="category">Editar Categoria</ion-title>
    <ion-buttons slot="start">
      <ion-button shape="round" (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form
        [formGroup]="categoryForm"
        (ngSubmit)="this.category ? update() : submit()"
      >
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-input
                fill="outline"
                formControlName="name"
                label="Nome"
                labelPlacement="floating"
              ></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button
                *ngIf="!category"
                type="submit"
                expand="block"
                [disabled]="!this.categoryForm.valid"
                >Cadastrar</ion-button
              >
              <ion-button
                *ngIf="category"
                type="submit"
                expand="block"
                [disabled]="!this.categoryForm.valid"
                >Atualizar</ion-button
              >
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-fab *ngIf="category" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="danger" (click)="confirmDeleteCategory()">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
