<ion-card>
  <ion-card-header>
    <ion-card-title>Evolução financeira geral</ion-card-title>
    <ion-card-subtitle
      >Aqui você pode obter dados inteligentes sobre a evolução financeira
      geral.</ion-card-subtitle
    >
  </ion-card-header>
  <ion-card-content>
    <div
      class="chart-container"
      style="position: relative; height: auto; width: 100%"
    >
      <canvas
        baseChart
        [data]="lineChartData"
        [options]="lineChartOptions"
        [type]="lineChartType"
      >
      </canvas>
    </div>
  </ion-card-content>
</ion-card>
