<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content data-cy="home-page">
  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeLg="4">
        <app-user-posts-board></app-user-posts-board>
      </ion-col>
      <ion-col size="12" sizeLg="4">
        <app-orders-peding-count-card></app-orders-peding-count-card>
        <app-orders-inprogress-count-card></app-orders-inprogress-count-card>
        <app-total-clients-count-card></app-total-clients-count-card>
      </ion-col>
      <ion-col size="12" sizeLg="4"> </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
