@let loading = isLoading$ | async;
@let categoriesList = categories | async;

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Categorias cadastradas</ion-card-title>
      <ion-card-subtitle>
        Aqui você cadastra categorias que podem ser usadas para equipamentos,
        partes e etc.
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      @if (loading && (!categoriesList || categoriesList.length === 0)) {
        <ion-item lines="none">
          <ion-label class="ion-text-center">
            <ion-spinner></ion-spinner>
          </ion-label>
        </ion-item>
      } @else {
        <ion-list data-cy="categories-list">
          @for (category of categoriesList; track category.id) {
            <ion-item button="true" detail="true" (click)="openModal(category)">
              <ion-label>
                <p>
                  <ion-text color="dark">{{ category.name }}</ion-text>
                </p>
              </ion-label>
            </ion-item>
          } @empty {
            <ion-text color="dark" data-cy="empty-categories-message">
              <p>Nenhuma categoria cadastrada</p>
            </ion-text>
          }
        </ion-list>
      }
    </ion-card-content>
  </ion-card>
</ion-content>
