@let loading = isLoading$ | async;
@let categoriesList = categories | async;

<ion-content color="light">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Categorias cadastradas</ion-card-title>
      <ion-card-subtitle>
        Aqui você cadastra categorias que podem ser usadas para equipamentos,
        partes e etc.
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      @if (loading) {
        <ion-item lines="none">
          <ion-label>
            <ion-spinner></ion-spinner>
          </ion-label>
        </ion-item>
      } @else {
        <ion-list>
          @for (category of categoriesList; track category.id) {
            <ion-item button="true" detail="true" (click)="openModal(category)">
              <ion-label>
                <h3>{{ category.name }}</h3>
              </ion-label>
            </ion-item>
          } @empty {
            <ion-item lines="none">
              <ion-label>
                <h3>Nenhuma categoria cadastrada</h3>
              </ion-label>
            </ion-item>
          }
        </ion-list>
      }
    </ion-card-content>
  </ion-card>
</ion-content>
