<ion-content color="light">
  <ion-card>
    <ion-card-content *ngIf="categories | async as categories">
      <ion-list lines="none" *ngIf="categories.length > 0">
        <ion-item
          button="true"
          detail="true"
          *ngFor="let category of categories"
          (click)="openModal(category)"
        >
          <ion-label>{{ category.name }}</ion-label>
        </ion-item>
      </ion-list>
      <p *ngIf="categories.length == 0">Nenhuma categoria cadastrada</p>
    </ion-card-content>
  </ion-card>
</ion-content>
