<ion-header>
  <ion-toolbar>
    <ion-title>Ordem de Serviço</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-order-filter></app-order-filter>
  <app-orders-list></app-orders-list>
</ion-content>
<ion-fab
  slot="fixed"
  vertical="bottom"
  horizontal="end"
  tourAnchor="os.add-button"
>
  <ion-fab-button
    class="ion-margin-bottom"
    (click)="getCode()"
    color="tertiary"
  >
    <ion-icon name="qr-code"></ion-icon>
  </ion-fab-button>
  <ion-fab-button (click)="addOrder()" color="tertiary">
    <ion-icon name="add-sharp"></ion-icon>
  </ion-fab-button>
</ion-fab>
