<ion-header>
  <ion-toolbar>
    <ion-title>Selecione uma peça</ion-title>
    <ion-buttons slot="start">
      <ion-button shape="round" (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-searchbar
      (ionInput)="search($event)"
      placeholder="Insira o nome ou categoria"
      [debounce]="500"
    ></ion-searchbar>
  </form>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Peças</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      @let parts = parts$ | async;
      @let loading = isLoading$ | async;
      <ion-list>
        @if (!parts || loading) {
          <ion-item lines="none">
            <ion-label>
              <ion-spinner></ion-spinner>
            </ion-label>
          </ion-item>
        } @else {
          @for (part of parts; track part.id) {
            <ion-item
              button="true"
              detail="true"
              detail="true"
              detailIcon="add-circle"
              (click)="addPart(part)"
            >
              <ion-label class="ion-padding-horizontal">
                <h3 class="ion-text-bold">{{ part.category.name }}</h3>
                <h3>{{ part.name }}</h3>
                <ion-note>{{ part.price | currency: "R$" }}</ion-note>
              </ion-label>
            </ion-item>
          } @empty {
            Nenhuma peça encontrada
          }
        }
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
