<ion-header>
  <ion-toolbar>
    <ion-title>Selecione uma peça</ion-title>
    <ion-buttons slot="start">
      <ion-button shape="round" (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-searchbar (ionInput)="search($event)" placeholder="Insira o nome ou categoria" [debounce]="500"></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  @if(parts) {
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-note>Selecione abaixo a peça desejada</ion-note>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            @for(part of (parts | async); track $index) {
              <ion-item button="true" detail="true" detail="true" detailIcon="add-circle" (click)="addPart(part)">
                <ion-label class="ion-padding-horizontal">
                  <h3>{{ part.name }}</h3>
                  <p slot="end">{{ part.price | currency : "R$" }}</p>
                </ion-label>
              </ion-item>
            }
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  }
</ion-content>