<ion-header>
  <ion-toolbar>
    <ion-title>Selecione uma peça</ion-title>
    <ion-buttons slot="start">
      <ion-button shape="round" (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-searchbar
      (ionInput)="search($event)"
      placeholder="Insira o nome ou categoria"
      [debounce]="500"
    ></ion-searchbar>
  </form>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Peças</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      @let parts = parts$ | async;
      @let loading = isLoading$ | async;
      <ion-list>
        @if (loading && (!parts || parts.length === 0)) {
          <ion-item lines="none">
            <ion-label class="ion-text-center">
              <ion-spinner></ion-spinner>
            </ion-label>
          </ion-item>
        } @else {
          @for (part of parts; track part.id) {
            <ion-item
              button="true"
              detail="true"
              detail="true"
              detailIcon="add-circle"
              (click)="addPart(part)"
            >
              <ion-avatar slot="start">
                <ion-img src="{{ part.image }}"></ion-img>
              </ion-avatar>
              <ion-label class="ion-padding-horizontal">
                <p>
                  <strong
                    ><ion-text color="dark">{{
                      part.category.name
                    }}</ion-text></strong
                  >
                </p>
                <p>{{ part.name }}</p>
                <ion-note>{{ part.price | currency: "R$" }}</ion-note>
              </ion-label>
            </ion-item>
          } @empty {
            <ion-item lines="none">
              <ion-label>
                <p>Nenhuma peça encontrada</p>
              </ion-label>
            </ion-item>
          }
        }
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
