<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Quadro de Comunicação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-post-filter></app-post-filter>
  <app-posts-list></app-posts-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openModalAddPost()" color="tertiary">
      <ion-icon name="add-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
