<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!user">Adicionar Usuário</ion-title>
    <ion-title *ngIf="user">Editar Usuário</ion-title>
    <ion-buttons slot="start">
      <ion-button shape="round" (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="userForm" (ngSubmit)="this.user ? update() : submit()">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-input labelPlacement="floating" label="Nome" formControlName="name"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input labelPlacement="floating" label="Email" formControlName="email" placeholder="Email"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input labelPlacement="floating" label="Telefone" formControlName="phone" placeholder="Telefone"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input labelPlacement="floating" label="Endereço" formControlName="address" placeholder="Endereço"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input labelPlacement="floating" label="CPF" formControlName="cpf" placeholder="CPF"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input labelPlacement="floating" label="CNPJ" formControlName="cnpj" placeholder="CNPJ"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input labelPlacement="floating" label="CEP" formControlName="cep" placeholder="CEP"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input labelPlacement="floating" label="Cidade" formControlName="city" placeholder="Cidade"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input labelPlacement="floating" label="Estado" formControlName="state" placeholder="Estado"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input labelPlacement="floating" label="País" formControlName="country" placeholder="País"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button type="submit" color="primary" expand="block" [disabled]="!this.userForm.valid">Cadastrar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-fab *ngIf="user" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="danger" (click)="confirmDeleteUser()">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
