<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!user">Adicionar Usuário</ion-title>
    <ion-title *ngIf="user">Editar Usuário</ion-title>
    <ion-buttons slot="start">
      <ion-button shape="round" (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="userForm" (ngSubmit)="this.user ? update() : submit()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input formControlName="name" placeholder="Nome"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input formControlName="email" placeholder="Email"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input formControlName="phone" placeholder="Telefone"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input formControlName="address" placeholder="Endereço"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input formControlName="cpf" placeholder="CPF"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input formControlName="cnpj" placeholder="CNPJ"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input formControlName="cep" placeholder="CEP"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input formControlName="city" placeholder="Cidade"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input formControlName="state" placeholder="Estado"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input formControlName="country" placeholder="País"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block" [disabled]="!this.userForm.valid">Salvar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-fab *ngIf="user" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="danger" (click)="confirmDeleteUser()">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
