<ion-header>
  <ion-toolbar>
    @if (!user) {
      <ion-title>Adicionar Usuário</ion-title>
    } @else {
      <ion-title>Editar Usuário</ion-title>
    }
    <ion-buttons slot="start">
      <ion-button shape="round" (click)="closeModal()" data-cy="close-modal">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
@let isLoading = isLoading$ | async;
<ion-content data-cy="user-modal">
  <ion-card>
    <ion-card-content>
      <form [formGroup]="userForm" (ngSubmit)="this.user ? update() : submit()">
        <ion-grid>
          <ion-row>
            @let types = userTypes | async;
            <ion-col size="12" sizeLg="3">
              @if (types) {
                <ion-select
                  fill="outline"
                  labelPlacement="floating"
                  label="Tipo"
                  formControlName="type_id"
                  placeholder="Tipo"
                  required
                >
                  @for (type of types; track type.id) {
                    <ion-select-option [value]="type.id">{{
                      type.name
                    }}</ion-select-option>
                  } @empty {
                    <ion-select-option disabled="true">
                      Nenhum tipo cadastrado
                    </ion-select-option>
                  }
                </ion-select>
              }
            </ion-col>
            <ion-col>
              <ion-input
                fill="outline"
                labelPlacement="floating"
                label="Nome"
                formControlName="name"
                required
              ></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input
                fill="outline"
                labelPlacement="floating"
                label="Email"
                formControlName="email"
                placeholder="Email"
                required
                email
              ></ion-input>
            </ion-col>
            <ion-col>
              <ion-input
                fill="outline"
                [maskito]="phoneMask"
                [maskitoElement]="maskPredicate"
                labelPlacement="floating"
                label="Telefone"
                formControlName="phone"
                placeholder="Telefone"
                required
              ></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-input
                fill="outline"
                labelPlacement="floating"
                label="CPF"
                formControlName="cpf"
                placeholder="CPF"
                [maskito]="cpfMask"
                [maskitoElement]="maskPredicate"
                inputmode="numeric"
              ></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input
                fill="outline"
                labelPlacement="floating"
                label="CNPJ"
                formControlName="cnpj"
                placeholder="CNPJ"
                [maskito]="cnpjMask"
                [maskitoElement]="maskPredicate"
              ></ion-input>
            </ion-col>
            <ion-col>
              <ion-input
                fill="outline"
                labelPlacement="floating"
                type="text"
                formControlName="fantasy_name"
                label="Nome fantasia"
              ></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input
                fill="outline"
                labelPlacement="floating"
                label="Endereço"
                formControlName="address"
                placeholder="Endereço"
              ></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" sizeLg="3">
              <ion-input
                fill="outline"
                labelPlacement="floating"
                label="CEP"
                formControlName="cep"
                placeholder="CEP"
                [maskito]="cepMask"
                [maskitoElement]="maskPredicate"
                (ionChange)="verifyCep()"
                inputmode="numeric"
                required
              ></ion-input>
            </ion-col>
            <ion-col>
              <ion-input
                fill="outline"
                labelPlacement="floating"
                label="Bairro"
                formControlName="district"
                placeholder="Bairro"
              ></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input
                fill="outline"
                labelPlacement="floating"
                label="Cidade"
                formControlName="city"
                placeholder="Cidade"
              ></ion-input>
            </ion-col>
            <ion-col>
              <ion-input
                fill="outline"
                labelPlacement="floating"
                label="Estado"
                formControlName="state"
                placeholder="Estado"
                maxlength="2"
              ></ion-input>
            </ion-col>
            <ion-col>
              <ion-input
                fill="outline"
                labelPlacement="floating"
                label="País"
                formControlName="country"
                placeholder="País"
                required
              ></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              @if (!user) {
                <ion-button
                  type="submit"
                  color="primary"
                  expand="block"
                  [disabled]="this.userForm.invalid || isLoading"
                  >Cadastrar</ion-button
                >
              } @else {
                <ion-button
                  type="submit"
                  color="primary"
                  expand="block"
                  [disabled]="this.userForm.invalid || isLoading"
                  >Atualizar</ion-button
                >
                @if (enablePasswordsInput) {
                  <ion-button
                    type="button"
                    class="ion-margin-top"
                    color="warning"
                    expand="block"
                    (click)="openModalChangePassword()"
                    [disabled]="isLoading"
                    >Alterar senha</ion-button
                  >
                }
              }
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
  @if (user) {
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button color="danger" (click)="confirmDeleteUser()">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  }
</ion-content>
