<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!part">Cadastrar material</ion-title>
    <ion-title *ngIf="part">Editar material</ion-title>
    <ion-buttons slot="start">
      <ion-button shape="round" (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      {{formPart.value | json}}
      <form [formGroup] = "formPart" (ngSubmit)="!part ? submit() : update()">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-input labelPlacement="floating" label="Nome" formControlName="name"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input [maskito]="currencyOptions" [maskitoElement]="maskPredicate"  labelPlacement="floating" label="Preço"  formControlName="price" type="string"></ion-input>
            </ion-col>
          </ion-row>
          @if (categories | async; as categories) {
            <ion-row>
              <ion-col>
                <ion-select label="Categoria" labelPlacement="floating" formControlName="category_id" okText="Confirmar" cancelText="Cancelar">
                  @for(category of categories; track $index) {
                    <ion-select-option value="{{ category.id }}">{{ category.name }}</ion-select-option>
                  }
                </ion-select>
              </ion-col>
            </ion-row>
          }
          <ion-row>
            <ion-col>
              <ion-textarea labelPlacement="floating" rows="5" label="Descrição"  formControlName="description"></ion-textarea>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              @if(!partId) {
                <ion-button expand="block" type="submit" [disabled]="!formPart.valid">Salvar</ion-button>
              } @else {
                <ion-button expand="block" type="submit" [disabled]="!formPart.valid">Atualizar</ion-button>
              }
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
  
</ion-content>