<ion-header>
  <ion-toolbar>
    @let part = this.part$ | async;
    @if (!part) {
      <ion-title>Cadastrar material</ion-title>
    }
    @if (part) {
      <ion-title>Editar material</ion-title>
    }
    <ion-buttons slot="start">
      <ion-button shape="round" (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="formPart" (ngSubmit)="!partId ? submit() : update()">
        <ion-grid>
          @if (imagePreview()) {
            <ion-row>
              <ion-col class="ion-flex ion-justify-content-center">
                <ion-card class="width__50">
                  <ion-img [src]="imagePreview()"></ion-img>
                </ion-card>
              </ion-col>
            </ion-row>
          }
          <ion-row class="ion-text-center">
            <ion-col>
              <ion-button (click)="selectImage()">
                <ion-icon name="camera"></ion-icon>
                <ion-label>Selecionar foto</ion-label>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input
                fill="outline"
                labelPlacement="floating"
                label="Nome"
                formControlName="name"
                required
              ></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input
                [maskito]="priceMask"
                [maskitoElement]="maskPredicate"
                labelPlacement="floating"
                label="Preço"
                formControlName="price"
                type="string"
                fill="outline"
                required
                inputmode="numeric"
              ></ion-input>
            </ion-col>
          </ion-row>
          @if (categories | async; as categories) {
            <ion-row>
              <ion-col>
                <ion-select
                  label="Categoria"
                  labelPlacement="floating"
                  formControlName="category_id"
                  okText="Confirmar"
                  cancelText="Cancelar"
                  fill="outline"
                  required
                >
                  @for (category of categories; track $index) {
                    <ion-select-option value="{{ category.id }}">{{
                      category.name
                    }}</ion-select-option>
                  }
                </ion-select>
              </ion-col>
            </ion-row>
          }
          <ion-row>
            <ion-col>
              <ion-textarea
                labelPlacement="floating"
                rows="5"
                label="Descrição"
                formControlName="description"
                fill="outline"
              ></ion-textarea>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              @if (!partId) {
                <ion-button
                  expand="block"
                  type="submit"
                  [disabled]="formPart.invalid || (isLoading$ | async)"
                  >Salvar</ion-button
                >
              } @else {
                <ion-button
                  expand="block"
                  type="submit"
                  [disabled]="formPart.invalid || (isLoading$ | async)"
                  >Atualizar</ion-button
                >
              }
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
@if (partId) {
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="danger" (click)="confirmDelete()">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
}
