<ion-header>
  <ion-toolbar>
    @if (!orderId) {
      <ion-title>Adicionar Ordem de Serviço</ion-title>
    } @else {
      <ion-title>Atualizar Ordem de Serviço</ion-title>
    }
    <ion-buttons slot="start">
      <ion-button shape="round" (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      @if (orderReceived) {
        <ion-button
          fill="solid"
          type="button"
          color="tertiary"
          (click)="print()"
        >
          <ion-icon name="print-sharp"></ion-icon>
          Imprimir
        </ion-button>
      }
      <ion-button
        fill="solid"
        [disabled]="
          this.selectOrderStatusDisabled ||
          orderForm.invalid ||
          (isLoading$ | async)
        "
        type="button"
        (click)="!orderId ? submit() : update()"
        expand="block"
        color="tertiary"
      >
        <ion-icon name="checkmark-done-sharp"></ion-icon>
        {{ !orderId ? "Cadastrar" : "Atualizar" }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  {{ orderForm.value | json }}
  <form [formGroup]="orderForm">
    <ion-grid>
      <ion-row>
        <ion-col [sizeXl]="orderReceived ? 4 : 12" [size]="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Informações da OS</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col size="12" [sizeLg]="orderReceived ? 10 : 12">
                    @if (orderReceived) {
                      <ion-input
                        type="text"
                        fill="outline"
                        [disabled]="orderReceived"
                        [value]="orderReceived.user.name"
                      ></ion-input>
                    } @else {
                      <ion-input
                        type="text"
                        fill="outline"
                        [value]="clientSelected?.name"
                        (click)="selectClientId()"
                        placeholder="Clique aqui para selecionar um cliente"
                      ></ion-input>
                    }
                  </ion-col>
                  @if (orderReceived) {
                    <ion-col size="12" sizeLg="2">
                      <ion-button
                        expand="block"
                        type="button"
                        color="tertiary"
                        class="full-button"
                        (click)="showClientHistory()"
                      >
                        <ion-icon name="search-sharp" type="button"></ion-icon>
                      </ion-button>
                    </ion-col>
                  }
                </ion-row>
                <ion-row>
                  <ion-col size="12" sizeLg="8">
                    @let equipments = equipments$ | async;
                    @if (equipments) {
                      <ion-select
                        fill="outline"
                        formControlName="equipment_id"
                        labelPlacement="floating"
                        label="Equipamento"
                        okText="confirmar"
                        cancelText="cancelar"
                      >
                        @for (equipment of equipments; track equipment.id) {
                          <ion-select-option [value]="equipment.id">{{
                            equipment.name
                          }}</ion-select-option>
                        } @empty {
                          <ion-select-option disabled="true">
                            Nenhum equipamento cadastrado
                          </ion-select-option>
                        }
                      </ion-select>
                    } @else {
                      <p>Selecione um cliente primeiro</p>
                    }
                  </ion-col>
                  <ion-col size="12" [sizeLg]="equipments$ ? 4 : 12">
                    @let orderStatuses = orderStatuses$ | async;
                    @if (orderStatuses$) {
                      <ion-select
                        fill="outline"
                        formControlName="status_id"
                        labelPlacement="floating"
                        label="Status"
                        okText="confirmar"
                        cancelText="cancelar"
                        (ionChange)="onChangeStatus()"
                      >
                        @for (status of orderStatuses; track status.id) {
                          <ion-select-option [value]="status.id">{{
                            status.name
                          }}</ion-select-option>
                        } @empty {
                          <ion-select-option disabled="true"
                            >Cadastre pelo menos um status</ion-select-option
                          >
                        }
                      </ion-select>
                    }
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-input
                      formControlName="title"
                      placeholder="Título"
                      label="Título da OS"
                      labelPlacement="floating"
                      fill="outline"
                    ></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-textarea
                      formControlName="description"
                      placeholder="Descricão"
                      label="Descrição"
                      labelPlacement="floating"
                      rows="8"
                      fill="outline"
                    ></ion-textarea>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-textarea
                      formControlName="obs"
                      label="Observação"
                      labelPlacement="floating"
                      rows="5"
                      fill="outline"
                    ></ion-textarea>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col sizeXl="4" size="12">
          @if (orderReceived) {
            <ion-card>
              <ion-card-header>
                <ion-card-title
                  >Diagnóstico e valores de serviço</ion-card-title
                >
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-input
                        label="Técnico"
                        labelPlacement="floating"
                        fill="outline"
                        (click)="selectTechnicianId()"
                        [value]="technicianSelected?.name"
                      ></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-textarea
                        rows="5"
                        fill="outline"
                        label="Diagnóstico"
                        labelPlacement="floating"
                        formControlName="diagnostic"
                      ></ion-textarea>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-textarea
                        rows="5"
                        fill="outline"
                        label="Serviço executado"
                        labelPlacement="floating"
                        formControlName="service_description"
                      ></ion-textarea>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="12">
                      <ion-input
                        [maskito]="priceMask"
                        [maskitoElement]="maskPredicate"
                        type="text"
                        inputmode="numeric"
                        fill="outline"
                        label="Valor de serviço"
                        labelPlacement="floating"
                        formControlName="service_price"
                        clearOnEdit="true"
                      ></ion-input>
                    </ion-col>
                    <ion-col size="12">
                      <ion-input
                        [maskito]="priceMask"
                        [maskitoElement]="maskPredicate"
                        type="text"
                        inputmode="numeric"
                        fill="outline"
                        label="Desconto?"
                        labelPlacement="floating"
                        formControlName="discount"
                        clearOnEdit="true"
                      ></ion-input>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          }
        </ion-col>
        @if (orderReceived) {
          <ion-col sizeXl="4" size="12">
            <ion-row>
              <ion-col size="12" sizeXl="12">
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>Valores totais</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-list>
                      <ion-item>
                        <ion-label class="ion-text-bold"
                          >Valor total da OS</ion-label
                        >
                        <ion-label slot="end" class="ion-text-end">
                          {{ totalPrice | currency: "R$" }}
                        </ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label class="ion-text-bold">Desconto</ion-label>
                        <ion-label slot="end" class="ion-text-end">
                          {{ discount | currency: "R$" }}
                        </ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label class="ion-text-bold">Valor total</ion-label>
                        <ion-label slot="end" class="ion-text-end">
                          {{ totalPrice | currency: "R$" }}
                        </ion-label>
                      </ion-item>
                    </ion-list>
                  </ion-card-content>
                </ion-card>
              </ion-col>

              <ion-col size="12">
                @if (orderReceived) {
                  <ion-card>
                    <ion-card-header>
                      <ion-card-title>Peças orçadas</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-grid>
                        <ion-row>
                          <ion-col size="12">
                            @if (parts && parts.controls.length > 0) {
                              <ion-list lines="none">
                                <form [formGroup]="orderForm">
                                  <div class="scroll-area">
                                    <table
                                      formArrayName="parts"
                                      style="width: 100%"
                                      border="1px"
                                    >
                                      <thead>
                                        <tr>
                                          <td scope="col">Nome da peça</td>
                                          <td scope="col"></td>
                                          <td scope="col">Quantidade</td>
                                          <td scope="col">Preço unitário</td>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        @for (
                                          part of parts.controls;
                                          let i = $index;
                                          track i
                                        ) {
                                          <tr [formGroupName]="i">
                                            <td>
                                              <p>{{ part.value.name }}</p>
                                            </td>

                                            <td with="20px">X</td>

                                            <td>
                                              <ion-input
                                                (change)="
                                                  this.patchFormTotalPrice()
                                                "
                                                type="number"
                                                min="1"
                                                max="100"
                                                formControlName="quantity"
                                                fill="outline"
                                              >
                                              </ion-input>
                                            </td>

                                            <td>
                                              {{
                                                part.value.price
                                                  | currency: "R$"
                                              }}
                                            </td>

                                            <td slot="end">
                                              <ion-button
                                                color="danger"
                                                (click)="removePart(i)"
                                                [disabled]="
                                                  this.selectOrderStatusDisabled
                                                "
                                              >
                                                <ion-icon
                                                  name="trash"
                                                ></ion-icon>
                                              </ion-button>
                                            </td>
                                          </tr>
                                        }
                                      </tbody>
                                    </table>
                                  </div>
                                </form>
                              </ion-list>
                              <br />
                              <h2>
                                <span class="ion-text-bold"
                                  >Valor total das peças:</span
                                >
                                {{ totalPartsPrice | currency: "R$" }}
                              </h2>
                            } @else {
                              <p>Nenhuma peça cadastrada</p>
                            }
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col>
                            <ion-button
                              color="secondary"
                              expand="block"
                              type="button"
                              [disabled]="
                                this.orderForm.get('parts')?.invalid ||
                                this.selectOrderStatusDisabled
                              "
                              (click)="openModalAddPart()"
                              >Adicionar material</ion-button
                            >
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-card-content>
                  </ion-card>
                }
              </ion-col>
            </ion-row>
          </ion-col>
        }
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
