<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar OS</ion-title>
    <ion-buttons slot="start">
      <ion-button shape="round" (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formOrder">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item button="true" detail="true" (click)="openModalSelectUser()">
              <ion-label>Selecione um cliente</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="block">Salvar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
