<ion-header>
  <ion-toolbar>
    <ion-title>Equipamentos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card *ngIf="equipments | async as equipments">
    <ion-card-content>
      <ion-list lines="none"  *ngIf="equipments.length > 0">
        <ion-item
          button="true"
          detail="true"
          *ngFor="let equipment of equipments"
          (click)="openModal(equipment)"
        >
          <ion-label>
            <h3>{{ equipment.name }}</h3>
            <p>{{ equipment.user.name }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <p *ngIf="equipments.length == 0">Nenhum equipamento encontrado</p>
    </ion-card-content>
  </ion-card>
</ion-content>
