<ion-header>
  <ion-toolbar>
    <ion-title>Equipamentos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content data-cy="equipments-page">
  @defer (on viewport) {
    <app-equipment-filter></app-equipment-filter>
    <app-equipments-list></app-equipments-list>
  } @placeholder {
    <div class="ion-padding ion-text-center">
      <ion-spinner></ion-spinner>
      <p>Carregando equipamentos...</p>
    </div>
  }
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openModal()" color="tertiary">
      <ion-icon name="add-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
