@let isLoading = isLoading$ | async;
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" sizeLg="3">
        <ion-card style="margin-top: 10rem">
          <ion-card-header>
            <ion-card-title>Login</ion-card-title>
            <ion-card-subtitle>Bem vindo a área dos clientes</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="form" (ngSubmit)="login()">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-input
                      type="text"
                      placeholder="Email"
                      formControlName="email"
                      fill="outline"
                      labelPlacement="floating"
                      label="Email"
                      autocomplete="email"
                      id="input-email"
                    ></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-input
                      type="password"
                      placeholder="Senha"
                      formControlName="password"
                      fill="outline"
                      labelPlacement="floating"
                      label="Senha"
                      autocomplete="password"
                      id="input-password"
                    ></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-button
                      type="submit"
                      color="primary"
                      expand="block"
                      [disabled]="form.invalid || isLoading"
                      id="login-button"
                      >Entrar</ion-button
                    >
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
