<ion-card>
  <ion-card-header>
    <ion-card-title>Dados dos Técnicos</ion-card-title>
    <ion-card-subtitle
      >Listagem da quantidade de OS feitas por cada Técnico no periodo
      informado</ion-card-subtitle
    >
    <ion-card-content class="ion-no-padding">
      <ion-list>
        @for (user of technicianOrderMetrics$(); track user.id) {
          <ion-item>
            <ion-label>
              <p>
                <strong
                  ><ion-text color="dark">{{ user.name }}</ion-text></strong
                >
              </p>
              <ion-note>{{
                user.total_orders > 1
                  ? user.total_orders + " ordens"
                  : user.total_orders + " ordem"
              }}</ion-note>
              <br />
              <ion-note>{{ user.total_revenue | currency: "BRL" }}</ion-note>
            </ion-label>
          </ion-item>
        } @empty {
          <ion-item lines="none">
            <ion-label>
              <p><ion-text color="dark">Nenhum técnico encontrado</ion-text></p>
            </ion-label>
          </ion-item>
        }
      </ion-list>
    </ion-card-content>
  </ion-card-header>
</ion-card>
