<ion-card #card>
  <ion-img class="ion-padding" src="assets/sos_logo.png"></ion-img>
  <ion-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input
              id="input-email"
              fill="outline"
              label="Email"
              formControlName="email"
              labelPlacement="floating"
              autocomplete="true"
              required
              minlength="8"
              email
            ></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input
              id="input-password"
              fill="outline"
              label="Senha"
              formControlName="password"
              labelPlacement="floating"
              autocomplete="true"
              type="password"
              required
            ></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button
              id="login-button"
              expand="block"
              type="submit"
              [disabled]="loginForm.invalid || (isLoading$ | async)"
            >
              Entrar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card-content>
</ion-card>
