@let loading = isLoading$ | async;
@let orders = orders$ | async;

<ion-card>
  <ion-card-header>
    <ion-card-title>Ordens de Serviço</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      @if (loading && (!orders || orders.length === 0)) {
        <ion-item lines="none">
          <ion-label class="ion-text-center">
            <ion-spinner></ion-spinner>
          </ion-label>
        </ion-item>
      } @else {
        @for (order of orders; track order.id) {
          <ion-item
            lines="inset"
            detail="true"
            button="true"
            (click)="openModal(order)"
          >
            <div
              class="ion-margin-horizontal"
              style="width: 50px; max-width: 80px; text-align: center"
            >
              <h1>{{ order.id }}</h1>
            </div>

            <ion-label class="ion-padding-start">
              <h2 class="ion-text-bold">{{ order.title }}</h2>

              <ion-chip color="primary">
                {{ order.user.name }}
              </ion-chip>

              <ion-chip color="dark">
                {{ order.equipment.name }}
              </ion-chip>

              <ion-chip>
                {{ order.created_at | date: "short" }}
              </ion-chip>

              <ion-chip
                [color]="
                  order.status_id == 1
                    ? 'danger'
                    : order.status_id == 2
                      ? 'warning'
                      : order.status_id == 3
                        ? 'success'
                        : order.status_id == 4
                          ? 'dark'
                          : 'light'
                "
              >
                {{ order.status.name }}
              </ion-chip>
            </ion-label>
          </ion-item>
        } @empty {
          <ion-item lines="none">
            <ion-label>
              <h2>Nenhuma ordem de serviço encontrada</h2>
            </ion-label>
          </ion-item>
        }
        @if (infiniteScroll()) {
          <ion-item lines="none">
            <ion-infinite-scroll
              (ionInfinite)="onIonInfinite($event)"
              loadingText="Carregando..."
              loadingSpinner="bubbles"
            >
              <ion-infinite-scroll-content />
            </ion-infinite-scroll>
          </ion-item>
        }
      }
    </ion-list>
  </ion-card-content>
</ion-card>
