@let loading = isLoading$ | async;
@let orders = orders$ | async;

<ion-card>
  <ion-card-header>
    <ion-card-title>Ordens de Serviço</ion-card-title>
  </ion-card-header>

  <ion-card-content class="ion-no-padding">
    <ion-list>
      @if (loading && (!orders || orders.length === 0)) {
        <ion-item lines="none">
          <ion-label class="ion-text-center">
            <ion-spinner></ion-spinner>
          </ion-label>
        </ion-item>
      } @else {
        @for (order of orders; track order.id) {
          <ion-item
            [ngClass]="
              order.status_id === 1
                ? 'ion-card-bordered-danger'
                : order.status_id === 2
                  ? 'ion-card-bordered-warning'
                  : order.status_id === 3
                    ? 'ion-card-bordered-success'
                    : order.status_id === 4
                      ? 'ion-card-bordered-dark'
                      : 'ion-card-bordered-light'
            "
            lines="full"
            detail="true"
            button="true"
            (click)="openModal(order)"
          >
            <div
              class="ion-margin-horizontal"
              style="width: 50px; max-width: 80px; text-align: center"
            >
              <h3>{{ order.id }}</h3>
            </div>

            <ion-label class="ion-padding-start">
              <h4>
                <strong>{{ order.title }}</strong>
              </h4>

              <ion-chip color="primary">
                <ion-icon name="person"></ion-icon>
                <ion-label>
                  {{ order.user.name }}
                </ion-label>
              </ion-chip>

              <ion-chip color="tertiary">
                <ion-icon name="hardware-chip"></ion-icon>
                <ion-label>{{ order.equipment.name }}</ion-label>
              </ion-chip>

              <ion-chip>
                <ion-icon name="calendar"></ion-icon>
                <ion-label>{{ order.created_at | date: "short" }}</ion-label>
              </ion-chip>

              <ion-chip
                [color]="
                  order.status_id === 1
                    ? 'danger'
                    : order.status_id === 2
                      ? 'warning'
                      : order.status_id === 3
                        ? 'success'
                        : order.status_id === 4
                          ? 'dark'
                          : 'light'
                "
              >
                {{ order.status.name }}
              </ion-chip>
            </ion-label>
          </ion-item>
        } @empty {
          <ion-item lines="none">
            <ion-label>
              <p>Nenhuma ordem de serviço encontrada</p>
            </ion-label>
          </ion-item>
        }
        <ion-infinite-scroll
          (ionInfinite)="onIonInfinite($event)"
          loadingText="Carregando..."
          loadingSpinner="bubbles"
          [disabled]="!infiniteScroll()"
        >
          <ion-infinite-scroll-content />
        </ion-infinite-scroll>
      }
    </ion-list>
  </ion-card-content>
</ion-card>
