<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button shape="round" (click)="closeModal()">
        <ion-icon name="arrow-back-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Chamado de Atendimento</ion-title>
  </ion-toolbar>
</ion-header>

@let isLoading = isLoading$ | async;
@let equipments = equipments$ | async;
@let ticket = ticket$ | async;
<ion-content color="medium" data-cy="ticket-modal">
  <ion-card>
    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-input
                fill="outline"
                label="Título"
                labelPlacement="floating"
                formControlName="title"
                required
                maxlength="255"
                helperText="Descrição breve do chamado"
              ></ion-input>
            </ion-col>
          </ion-row>
          @if (equipments) {
            <ion-row>
              <ion-col>
                <ion-select
                  label="Equipamento"
                  formControlName="equipment_id"
                  labelPlacement="floating"
                  okText="Confirmar"
                  cancelText="Cancelar"
                  helperText="Selecione o equipamento"
                  errorText="Nenhum equipamento selecionado"
                  fill="outline"
                >
                  @for (equipment of equipments; track equipment.id) {
                    <ion-select-option [value]="equipment.id">{{
                      equipment.name
                    }}</ion-select-option>
                  } @empty {
                    <ion-select-option disabled>
                      Adicione um equipamento primeiro
                    </ion-select-option>
                  }
                </ion-select>
              </ion-col>
            </ion-row>
          }
          <ion-row>
            <ion-col>
              <ion-textarea
                rows="6"
                fill="outline"
                label="Descrição"
                formControlName="description"
                labelPlacement="floating"
                required
                helperText="Dê detalhes do chamado"
              >
              </ion-textarea>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button
                expand="block"
                [disabled]="form.invalid || isLoading || ticketId"
                type="submit"
                >{{
                  ticketId ? "Entraremos em contato em breve" : "Criar"
                }}</ion-button
              >
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
  @if (ticketId && ticket && ticket.order_id !== null) {
    <ion-card color="warning">
      <ion-card-content>
        <h2><strong>Ordem de serviço criada</strong></h2>
        <br />
        <ion-label>Número da ordem: </ion-label>
        <ion-chip>
          <ion-label>{{ ticket.order_id }}</ion-label>
        </ion-chip>
        <br />
        <ion-label>Status: </ion-label>
        <ion-chip>
          <ion-label>{{ ticket.status.name }}</ion-label>
        </ion-chip>
        <br />
        <ion-label><strong>Última atualização: </strong></ion-label>
        <ion-chip>
          <ion-label>
            {{ ticket.updated_at | date: "dd/MM/yyyy - HH:mm" }}
          </ion-label>
        </ion-chip>
      </ion-card-content>
    </ion-card>
  }
</ion-content>
