<ion-app>
  <ion-split-pane contentId="main-content" when="xl">
    @let userLogged = user$ | async;
    <ion-menu
      contentId="main-content"
      type="overlay"
      menuId="main"
      [disabled]="true && !userLogged"
    >
      <ion-content class="ion-padding" color="primary">
        @if (userLogged && userLogged.image) {
          <ion-card
            style="border-radius: 5%"
            tourAnchor="menu.start"
            button
            (click)="changeAvatarImage()"
            data-cy="menu-item-profile"
          >
            <ion-img
              src="{{ userLogged.image }}"
              alt="User Image"
              class="user-image"
              data-cy="menu-item-profile"
            ></ion-img>
          </ion-card>
        } @else {
          <ion-card button (click)="changeAvatarImage()">
            <ion-img src="assets/person-shape.svg"></ion-img>
          </ion-card>
        }
        <ion-list id="inbox-list">
          <ion-item lines="none" color="primary">
            @if (userLogged) {
              <ion-label
                ><ion-text color="light"
                  ><h1>{{ userLogged.name }}</h1></ion-text
                >
                <p>{{ userLogged!.type.name }}</p>
              </ion-label>
            }
          </ion-item>

          <ion-menu-toggle auto-hide="false" tourAnchor="menu.list">
            @for (p of appPages; track p.title; let i = $index) {
              <ion-item
                routerDirection="root"
                [routerLink]="[p.url]"
                lines="none"
                detail="false"
                routerLinkActive="selected"
                color="primary"
                [id]="p.id"
                data-cy="menu-item-home"
                [tourAnchor]="p.tourAnchor!"
                button="true"
                (click)="resetBadge(p.title)"
              >
                <ion-icon
                  aria-hidden="true"
                  slot="start"
                  [ios]="p.icon + '-outline'"
                  [md]="p.icon + '-sharp'"
                ></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
                @if (p.badge) {
                  <ion-badge slot="end" color="danger">
                    {{ p.badge }}
                  </ion-badge>
                }
              </ion-item>
            }
            <ion-item lines="none" color="primary" id="logout-button-item">
              <ion-button
                class="ion-margin-top"
                color="danger"
                (click)="logout()"
                size="medium"
                style="width: 100%"
              >
                <ion-icon name="exit"></ion-icon>
                Sair
              </ion-button>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet
      id="main-content"
      main
      [animated]="true"
    ></ion-router-outlet>
    <tour-step-template></tour-step-template>
  </ion-split-pane>
</ion-app>
