<ion-app>
  <ion-split-pane contentId="main-content" when="xl">
    @let userLogged = user$ | async;
    <ion-menu
      contentId="main-content"
      type="overlay"
      menuId="main"
      [disabled]="true && !userLogged"
    >
      <ion-content class="ion-padding" color="primary">
        @if (userLogged) {
          <ion-card style="border-radius: 5%">
            <ion-img
              src="{{ userLogged.image }}"
              alt="User Image"
              class="user-image"
            ></ion-img>
          </ion-card>
        } @else {
          <ion-card>
            <img src="assets/person-shape.svg" />
          </ion-card>
        }
        <ion-list id="inbox-list" color="primary">
          @if (userLogged) {
            <ion-list-header>{{ userLogged.name }}</ion-list-header>
            <ion-note>{{ userLogged.type.name }}</ion-note>
          } @else {
            <ion-list-header>SOS</ion-list-header>
            <ion-note>Sistema de Ordem de Serviço</ion-note>
          }

          <ion-menu-toggle auto-hide="false">
            @for (p of appPages; track p.title; let i = $index) {
              <ion-item
                routerDirection="root"
                [routerLink]="[p.url]"
                lines="none"
                detail="false"
                routerLinkActive="selected"
                color="primary"
                [id]="p.id"
              >
                <ion-icon
                  aria-hidden="true"
                  slot="start"
                  [ios]="p.icon + '-outline'"
                  [md]="p.icon + '-sharp'"
                ></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            }
            <ion-button expand="block" color="danger" (click)="logout()">
              Sair
              <ion-icon name="exit"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet
      id="main-content"
      main
      [animated]="true"
    ></ion-router-outlet>
  </ion-split-pane>
</ion-app>
