<ion-card>
  <ion-card-header>
    <ion-card-title>Lista de posts</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    @let posts = posts$ | async;
    @let loading = loading$ | async;
    <ion-list>
      @if (loading && (!posts || posts.length === 0)) {
        <ion-item lines="none" class="ion-text-center">
          <ion-label>
            <ion-spinner></ion-spinner>
          </ion-label>
        </ion-item>
      } @else {
        @for (p of posts; track p.id; let i = $index) {
          <ion-item button detail (click)="openModalPost(p)">
            <ion-label>
              <h2>
                <strong>{{ p.title }}</strong>
              </h2>
              <p>{{ p.content.substring(0, 100) + "..." }}</p>
              <ion-chip color="primary">{{ p.user.name }}</ion-chip>
              <ion-chip color="success">{{
                p.created_at | date: "dd/MM/yyyy"
              }}</ion-chip>
            </ion-label>
          </ion-item>
        } @empty {
          <ion-item>
            <ion-label>
              <h2>Nenhum post</h2>
              <p>Crie um post para ver aqui</p>
            </ion-label>
          </ion-item>
        }
      }
    </ion-list>
  </ion-card-content>
</ion-card>
