<ion-card color="tertiary">
  <ion-card-content>
    @if (count() === null) {
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    } @else {
      <ion-list>
        <ion-item lines="none" color="tertiary">
          <ion-icon
            class="ion-no-margin"
            name="people-sharp"
            slot="start"
          ></ion-icon>

          <ion-label>
            <h1>
              <ion-text color="light">{{ count() }}</ion-text>
            </h1>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-text color="light">
        <strong>Clientes</strong>
      </ion-text>
    }
  </ion-card-content>
</ion-card>
