@let loading = isLoading$ | async;
@let partsList = parts | async;

<ion-card>
  <ion-card-header>
    <ion-card-title>Materiais cadastrados</ion-card-title>
    <ion-card-subtitle>
      Aqui você cadastra materiais que são usados nas ordens de serviço
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      @if (loading && (!partsList || partsList.length === 0)) {
        <ion-item lines="none">
          <ion-label class="ion-text-center">
            <ion-spinner></ion-spinner>
          </ion-label>
        </ion-item>
      } @else {
        @for (part of partsList; track part.id) {
          <ion-item button="true" detail="true" (click)="openModalEdit(part)">
            <ion-avatar>
              <ion-img [src]="part.image"></ion-img>
            </ion-avatar>

            <ion-label class="ion-padding-start">
              <h3 class="ion-text-bold">
                {{ part.category.name }}
              </h3>

              <h3>{{ part.name }}</h3>

              <p>{{ part.price | currency: "BRL" }}</p>
            </ion-label>
          </ion-item>
        } @empty {
          <ion-item lines="none">
            <ion-label>
              <h2>Nenhum material encontrado</h2>
            </ion-label>
          </ion-item>
        }
      }
    </ion-list>
  </ion-card-content>
</ion-card>
@if (infiniteScroll() && partsList && partsList.length > 0) {
  <ion-infinite-scroll
    (ionInfinite)="onIonInfinite($event)"
    loadingText="Carregando..."
    loadingSpinner="bubbles"
  >
    <ion-infinite-scroll-content />
  </ion-infinite-scroll>
}
