@let rooms = this.rooms$ | async;
@let isLoading = this.isLoading$ | async;
<ion-card>
  <ion-card-header>
    <ion-card-title>Salas</ion-card-title>
    <ion-card-subtitle>
      Aqui você pode criar salas para conversar os funcionários da empresa
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      @if (isLoading && (!rooms || rooms.length === 0)) {
        <ion-item lines="none">
          <ion-label class="ion-text-center">
            <ion-spinner></ion-spinner>
          </ion-label>
        </ion-item>
      } @else {
        @for (room of rooms; track room.id) {
          <ion-item button detail (click)="openRoom(room)">
            <ion-avatar slot="start">
              <ion-img [src]="room.creator.image"></ion-img>
            </ion-avatar>
            <ion-label>
              <p>
                <strong
                  ><ion-text color="dark">{{ room.name }}</ion-text></strong
                >
              </p>
              <ion-note>{{ room.creator.name }}</ion-note>
            </ion-label>
          </ion-item>
        } @empty {
          <ion-text color="dark">
            <p>Nenhuma sala encontrada</p>
          </ion-text>
        }
      }
    </ion-list>
    <ion-infinite-scroll
      [disabled]="!infiniteScroll()"
      (ionInfinite)="onIonInfinite($event)"
      loadingText="Carregando..."
      loadingSpinner="bubbles"
    >
      <ion-infinite-scroll-content />
    </ion-infinite-scroll>
  </ion-card-content>
</ion-card>
